body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.game-container {
    display: inline-block;
    margin-top: 50px;
}

#user-input {
    font-size: 1.2rem;
    padding: 5px;
    width: 100%;
}

button {
    background-color: #2f89fc;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 5px 20px;
}

button:hover {
    background-color: #3f9afc;
}

#keyboard-container {
    margin-top: 30px;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
}

.key {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1 0 30px;
    font-size: 1.2rem;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    text-align: center;
    user-select: none;
}

.key.used {
    background-color: #ccc;
}
